<div class="container bg__elem text-center" [hidden]="!(isGenerated && selected)">

  <div class="bg__details text align-content-center">
    <div class="bg__h" [hidden]="hideHeaderAndBtn">
      {{localization.getHeader()}}
    </div>
    <div class="row">
      <div class="col bg__h_1">{{localization.getPersonalTraits()}}</div>
      <div class="col bg__col">{{getPersonTraits()}}</div>
    </div>
    <div class="row">
      <div class="col bg__h_1">{{localization.getValuePerson()}}</div>
      <div class="col bg__col">{{getPersonValue()}}</div>
    </div>
    <div class="row">
      <div class="col bg__h_1">{{localization.getValueMost()}}</div>
      <div class="col bg__col">{{getValueMost()}}</div>
    </div>
    <div class="row">
      <div class="col bg__h_1">{{localization.getFeelAboutPeople()}}</div>
      <div class="col bg__col">{{getFeelAboutPeople()}}</div>
    </div>
    <div class="row">
      <div class="col bg__h_1">{{localization.getValuedPossession()}}</div>
      <div class="col bg__col">{{getValuePossession()}}</div>
    </div>
  </div>

  <div class="row row-cols-1 justify-content-end" [hidden]="hideHeaderAndBtn">
    <div class="col-2 btn">
      <button class="text btn__content" (click)="onGenerate()">
        {{btnLocalization.getGenerate()}}
      </button>
    </div>
  </div>
</div>
