<div class="container motivation text-center" [hidden]="!(isGenerated && selected)">
  <div class="bg-success text-white">{{localization.getHeader()}}</div>

  <div class="motivation-details">
    <div class="row">
      <div class="col-sm h6">{{localization.getPersonalTraits()}}</div>
      <div class="col">{{getPersonTraits()}}</div>
    </div>
    <div class="row">
      <div class="col-sm h6">{{localization.getValuePerson()}}</div>
      <div class="col">{{getPersonValue()}}</div>
    </div>
    <div class="row">
      <div class="col-sm h6">{{localization.getValueMost()}}</div>
      <div class="col">{{getValueMost()}}</div>
    </div>
    <div class="row">
      <div class="col-sm h6">{{localization.getFeelAboutPeople()}}</div>
      <div class="col">{{getFeelAboutPeople()}}</div>
    </div>
    <div class="row">
      <div class="col-sm h6">{{localization.getValuedPossession()}}</div>
      <div class="col">{{getValuePossession()}}</div>
    </div>
  </div>

  <div class="text-right">
    <div class="btn btn-outline-primary" (click)="onGenerate()">
      {{btnLocalization.getGenerate()}}
    </div>
  </div>
</div>
