<div class="container motivation text-center" [hidden]="!isGenerated">
  <div class="bg-success text-white">{{localization.getHeader()}}</div>

  <ul class="list-unstyled">
    <li class="h6 text-center bg-light">
      {{localization.getPersonalTraits()}}
    </li>
    <li>{{getPersonTraits()}}</li>

    <li class="h6 text-center bg-light">
      {{localization.getValuePerson()}}
    </li>
    <li>{{getPersonValue()}}</li>

    <li class="h6 text-center bg-light">
      {{localization.getValueMost()}}
    </li>
    <li>{{getValueMost()}}</li>

    <li class="h6 text-center bg-light">
      {{localization.getFeelAboutPeople()}}
    </li>
    <li>{{getFeelAboutPeople()}}</li>

    <li class="h6 text-center bg-light">
      {{localization.getValuedPossession()}}
    </li>
    <li>{{getValuePossession()}}</li>
  </ul>

  <div class="btn btn-outline-primary" (click)="onGenerate()">
    {{localization.getGenerate()}}
  </div>
</div>
