<div class="container ethnic text-center" [hidden]="!(isGenerated && selected)">
  <div class="bg-success text-white">{{localization.getHeader()}}</div>

  <div class="ethnic-details">
    <div class="row">
      <div class="col h6">{{localization.getOrigin()}}</div>
      <div class="col h6">{{localization.getLanguages()}}</div>
    </div>
    <div class="row">
      <div class="col">{{getEthnicOrigin()}}</div>
      <div class="col">
        <span *ngFor="let language of getEthnicLanguages()">{{language}};&nbsp;</span>
      </div>
    </div>
  </div>

  <div class="text-right">
    <div class="btn btn-outline-primary" (click)="onGenerate()">
      {{btnLocalization.getGenerate()}}
    </div>
  </div>
</div>
