<div class="container bg__elem text-center" [hidden]="!(isGenerated && options.selected)">

  <div class="bg__details text">
    <div class="bg__h">
      {{localization.getHeader()}}
    </div>

    <div class="row justify-content-center">
      <div class="col-1 bg__h_1">{{localization.getAge()}}</div>
      <div class="col bg__col">{{localization.getDescription()}}</div>
    </div>

    <div *ngFor="let event of events">
      <div class="row events__year justify-content-center">
        {{localization.getAnotherYear()}}
      </div>

      <div class="row ">
        <div class="col-1 bg__h_1">{{event.age}}</div>
        <div class="col">

          <!--Big wins big problems-->
          <span class="problems_wins" *ngIf="resolver.isProblemsWinsEvent(event)">

            <!--Disaster-->
            <span *ngIf="resolver.isDisasterEvent(event)">
              <div class="row">
                <div class="col bg__h_1">{{problAndWinsLocalization.getDisaster()}}</div>
                <div class="col bg__h_1">{{problAndWinsLocalization.getWhatGonnaDo()}}</div>
              </div>
              <div class="row">
                <div class="col bg__col">
                  {{getDisaster(event)}}
                </div>
                <div class="col bg__col">
                  {{getWhatGonnaDoDisaster(event)}}
                </div>
              </div>
            </span>

            <!--Lucky-->
            <span *ngIf="resolver.isLuckEvent(event)">
              <div class="row bg__h_1 justify-content-center каво">
                {{problAndWinsLocalization.getLucky()}}
              </div>
              <div class="row bg__col justify-content-center">
                {{getLucky(event)}}
              </div>
            </span>
          </span>

          <!--Friends and enemies-->
          <span class="friends_enemies"*ngIf="resolver.isFriendsEnemiesEvent(event)">
            <div class="row bg__h_1 justify-content-center">
              {{friendsEnemLocalization.getHeader()}}
            </div>
            <div class="row justify-content-center">
              <div class="col bg__h_1">
                {{getFriendEnemy(event)}}
                <span *ngIf="options.detailedGeneration">
                  {{getFriendEnemyStyleHeader(event)}}
                </span>
              </div>
            </div>
            <div class="row bg__col" *ngIf="options.detailedGeneration">
              <div class="col">
                <app-dress [selected]="true"
                           [localization]="dressLocalization"
                           [btnLocalization]="btnLocalization"
                           [generateAfterCreation]="true"
                           [hideHeaderAndBtn]="true">
                </app-dress>
              </div>
              <div class="col">
                <app-motivation [selected]="true"
                                [localization]="motivationLocalization"
                                [btnLocalization]="btnLocalization"
                                [generateAfterCreation]="true"
                                [hideHeaderAndBtn]="true">
                </app-motivation>
              </div>
            </div>
            <!--Friend-->
            <div *ngIf="resolver.isFriend(event)">
              <div class="row justify-content-center">
                <div class="col bg__h_1">
                  {{friendsEnemLocalization.getFriend()}}
                </div>
                <div class="col bg__col">
                  {{friendsEnemLocalization.getFriendByRoll(event.getRoll(2))}}
                </div>
              </div>
            </div>
            <!--Enemy-->
            <div *ngIf="resolver.isEnemy(event)">
              <div class="row justify-content-center">
                <div class="col bg__h_1">
                  {{friendsEnemLocalization.getEnemy()}}
                </div>
                <div class="col bg__col">
                  {{getEnemy(event)}}
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col bg__h_1">
                  {{friendsEnemLocalization.getCause()}}
                </div>
                <div class="col bg__col">
                  {{getEnemyCause(event)}}
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col bg__h_1">
                  {{friendsEnemLocalization.getWhosFracked()}}
                </div>
                <div class="col bg__col">
                  {{getWhosFracked(event)}}
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col bg__h_1">
                  {{friendsEnemLocalization.getWhatGonnaDo()}}
                </div>
                <div class="col bg__col">
                  {{getWhatGonnaDoEnemy(event)}}
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col bg__h_1">
                  {{friendsEnemLocalization.getWhatHeCanThrow()}}
                </div>
                <div class="col bg__col">
                  {{getWhatEnemyCanThrow(event)}}
                </div>
              </div>
            </div>
          </span>

          <!--Romantic life-->
          <span *ngIf="resolver.isRomanticEvent(event)">
            <div class="row bg__h_1 justify-content-center">
              {{romanticLocalization.getHeader()}}
            </div>

            <div class="row">
              <div class="col bg__h_1">{{romanticLocalization.getHowWorked()}}</div>
              <div class="col bg__col">
                {{romanticLocalization.getHowWorkedByRoll(event.getRoll(0))}}
              </div>
            </div>

            <div class="row" *ngIf="options.detailedGeneration">
              <div class="col bg__h_1">{{romanticLocalization.getGeneratedPerson()}}</div>
              <div class="col bg__col">
                <app-dress [selected]="true"
                           [localization]="dressLocalization"
                           [btnLocalization]="btnLocalization"
                           [generateAfterCreation]="true"
                           [hideHeaderAndBtn]="true">
                </app-dress>
                <app-motivation [selected]="true"
                                [localization]="motivationLocalization"
                                [btnLocalization]="btnLocalization"
                                [generateAfterCreation]="true"
                                [hideHeaderAndBtn]="true">
                </app-motivation>
              </div>
            </div>

            <!--Tragic love-->
            <span *ngIf="resolver.isTragicLove(event)">
              <div class="row justify-content-center">
                <div class="col bg__h_1">{{romanticLocalization.getTragicLove()}}</div>
                <div class="col bg__h_1">{{romanticLocalization.getMutualFeelings()}}</div>
              </div>
              <div class="row justify-content-center">
                <div class="col bg__col">
                  {{getTragicLove(event)}}
                </div>
                <div class="col bg__col">
                  {{getMutualFeelings(event)}}
                </div>
              </div>
            </span>

            <!--Love affairs with problems-->
            <span *ngIf="resolver.isLoveAffair(event)">
              <div class="row justify-content-center">
                <div class="col bg__h_1">{{romanticLocalization.getLoveWithProblems()}}</div>
                <div class="col bg__col">
                  {{getLoveWithProblems(event)}}
                </div>
              </div>
            </span>
          </span>

          <!--Nothing happened that year-->
          <span *ngIf="resolver.isNothingHappenedEvent(event)">
            <div class="row bg__h_1 justify-content-center">
              {{nothHappLocalization.getHeader()}}
            </div>
          </span>
        </div>
      </div>

    </div>

  </div>

  <div class="row row-cols-1 justify-content-end">
    <div class="col-2 btn">
      <button class="text btn__content" (click)="onGenerate()">
        {{btnLocalization.getGenerate()}}
      </button>
    </div>
  </div>
</div>
