<div class="container events text-center" [hidden]="!(isGenerated && options.selected)">

  <div class="text-center">
    <div class="row">
      {{localization.getHeader()}}
    </div>
    <div class="row">
      <div class="col">{{localization.getAge()}}</div>
      <div class="col">{{localization.getDescription()}}</div>
    </div>
    <div *ngFor="let event of events">
      <div class="row">
        <div class="col-sm">{{event.age}}</div>
        <div class="col-lg">
          <!--Big wins big problems-->
          <div *ngIf="resolver.isProblemsWinsEvent(event)">
            <!--Disaster-->
            <span *ngIf="resolver.isDisasterEvent(event); else luck">
              <div class="row h6">{{problAndWinsLocalization.getDisaster()}}</div>
              <div class="row">{{problAndWinsLocalization.getDisasterByRoll(event.getRoll(0))}}</div>
              <div class="row h6">{{problAndWinsLocalization.getWhatGonnaDo()}}</div>
              <div class="row">{{problAndWinsLocalization.getWhatGonnaDoByRoll(event.getRoll(1))}}</div>
            </span>
            <!--Lucky-->
            <ng-template #luck>
              <div class="row h6">{{problAndWinsLocalization.getLucky()}}</div>
              <div class="row">{{problAndWinsLocalization.getLuckyByRoll(event.getRoll(0))}}</div>
            </ng-template>
          </div>
          <!--Friends and enemies-->
          <div *ngIf="resolver.isFriendsEnemiesEvent(event)">
            <div class="row h6">{{friendsEnemLocalization.getHeader()}}</div>
            <div class="row h6">{{friendsEnemLocalization.getFriendEnemy(event.getRoll(0))}}</div>
            <div class="row">{{friendsEnemLocalization.getFriendsEnemiesByRoll(event.getRoll(1))}}</div>
            <div class="row" *ngIf="options.detailedGeneration">
              <app-dress [selected]="true"
                         [localization]="dressLocalization"
                         [generateAfterCreation]="true"></app-dress>
              <app-motivation [selected]="true"
                              [localization]="motivationLocalization"
                              [generateAfterCreation]="true"></app-motivation>
            </div>
            <!--Friend-->
            <div *ngIf="resolver.isFriend(event)">
              <div class="row h6">{{friendsEnemLocalization.getFriend()}}</div>
              <div class="row">{{friendsEnemLocalization.getFriendByRoll(event.getRoll(2))}}</div>
            </div>
            <!--Enemy-->
            <div *ngIf="resolver.isEnemy(event)">
              <div class="row h6">
                {{friendsEnemLocalization.getEnemy()}}
              </div>
              <div class="row">
                {{friendsEnemLocalization.getEnemyByRoll(event.getRoll(2))}}
              </div>
              <div class="row h6">
                {{friendsEnemLocalization.getCause()}}
              </div>
              <div class="row">
                {{friendsEnemLocalization.getCauseByRoll(event.getRoll(3))}}
              </div>
              <div class="row h6">
                {{friendsEnemLocalization.getWhosFracked()}}
              </div>
              <div class="row">
                {{friendsEnemLocalization.getWhosFrackedByRoll(event.getRoll(4))}}
              </div>
              <div class="row h6">
                {{friendsEnemLocalization.getWhatGonnaDo()}}
              </div>
              <div class="row">
                {{friendsEnemLocalization.getWhatGonnaDoByRoll(event.getRoll(5))}}
              </div>
              <div class="row h6">
                {{friendsEnemLocalization.getWhatHeCanThrow()}}
              </div>
              <div class="row">
                {{friendsEnemLocalization.getWhatHeCanThrowByRoll(event.getRoll(6))}}
              </div>
            </div>
          </div>
          <!--Romantic life-->
          <div *ngIf="resolver.isRomanticEvent(event)">
            <div class="row h6">{{romanticLocalization.getHeader()}}</div>
            <div class="row h6">{{romanticLocalization.getHowWorked()}}</div>
            <div class="row">{{romanticLocalization.getHowWorkedByRoll(event.getRoll(0))}}</div>
            <div class="row h6">{{romanticLocalization.getGeneratedPerson()}}</div>
            <div class="row" *ngIf="options.detailedGeneration">
              <app-dress [selected]="true"
                         [localization]="dressLocalization"
                         [generateAfterCreation]="true"></app-dress>
              <app-motivation [selected]="true"
                              [localization]="motivationLocalization"
                              [generateAfterCreation]="true"></app-motivation>
            </div>
            <!--Tragic love-->
            <span *ngIf="resolver.isTragicLove(event)">
              <div class="row h6">{{romanticLocalization.getTragicLove()}}</div>
              <div class="row">{{romanticLocalization.getTragicLoveByRoll(event.getRoll(1))}}</div>
              <div class="row h6">{{romanticLocalization.getMutualFeelings()}}</div>
              <div class="row">{{romanticLocalization.getMutualFeelingsByRoll(event.getRoll(2))}}</div>
            </span>
            <!--Love affairs with problems-->
            <span *ngIf="resolver.isLoveAffair(event)">
              <div class="row h6">{{romanticLocalization.getLoveWithProblems()}}</div>
              <div class="row">{{romanticLocalization.getLoveWithProblemsByRoll(event.getRoll(1))}}</div>
            </span>
          </div>
          <!--Nothing happened that year-->
          <div *ngIf="resolver.isNothingHappenedEvent(event)">
            <div class="row h6">{{nothHappLocalization.getHeader()}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn btn-outline-primary" (click)="onGenerate()">
    {{localization.getGenerate()}}
  </div>
</div>
