<div class="background" [hidden]="!isGenerated">

  <app-dress [selected]="options.dress"
             [localization]="dressLocalization"
             [btnLocalization]="btnLocalization"></app-dress>

  <app-ethnic [selected]="options.ethnic"
              [localization]="ethnicLocalization"
              [btnLocalization]="btnLocalization"></app-ethnic>

  <app-family [selected]="options.family"
              [localization]="familyLocalization"
              [btnLocalization]="btnLocalization"></app-family>

  <app-motivation [selected]="options.motivation"
                  [localization]="motivationLocalization"
                  [btnLocalization]="btnLocalization"></app-motivation>

  <app-events [options]="options.events"
              [localization]="eventsLocalization"
              [btnLocalization]="btnLocalization"
              [romanticLocalization]="eventsRomanticLocalization"
              [problAndWinsLocalization]="eventsProblAndWinsLocalization"
              [nothHappLocalization]="eventsNothHappLocalization"
              [friendsEnemLocalization]="eventsFriendsEnemLocalization"
              [motivationLocalization]="motivationLocalization"
              [dressLocalization]="dressLocalization"></app-events>
</div>
