<div class="container bg__elem text-center" [hidden]="!(isGenerated && selected)">

  <div class="bg__details text">
    <div class="bg__h" [hidden]="hideHeaderAndBtn">{{localization.getHeader()}}</div>
    <div class="row">
      <div class="col bg__h_1">{{localization.getClothes()}}</div>
      <div class="col bg__h_1">{{localization.getHairstyle()}}</div>
      <div class="col bg__h_1">{{localization.getAffectations()}}</div>
    </div>
    <div class="row">
      <div class="col bg__col">{{getClothes()}}</div>
      <div class="col bg__col">{{getHairstyle()}}</div>
      <div class="col bg__col">{{getAffectations()}}</div>
    </div>
  </div>

  <div class="row row-cols-1 justify-content-end" [hidden]="hideHeaderAndBtn">
    <div class="col-2 btn">
      <button class="text btn__content" (click)="onGenerate()">
        {{btnLocalization.getGenerate()}}
      </button>
    </div>
  </div>
</div>
