<div class="container skills">
  <div class="row">
    <div class="col">
      <div class="row bg-info"></div>
      <div class="row bg-light">{{characteristics.int}}</div>
    </div>
    <div class="col">
      <div class="row bg-info"></div>
      <div class="row bg-light">{{characteristics.ref}}</div>
    </div>
    <div class="col">
      <div class="row bg-info"></div>
      <div class="row bg-light">{{characteristics.tech}}</div>
    </div>
    <div class="col">
      <div class="row bg-info"></div>
      <div class="row bg-light">{{characteristics.cool}}</div>
    </div>
    <div class="col">
      <div class="row bg-info"></div>
      <div class="row bg-light">{{characteristics.attr}}</div>
    </div>
    <div class="col">
      <div class="row bg-info"></div>
      <div class="row bg-light">{{characteristics.luck}}</div>
    </div>
    <div class="col">
      <div class="row bg-info"></div>
      <div class="row bg-light">{{characteristics.ma}}</div>
    </div>
    <div class="col">
      <div class="row bg-info"></div>
      <div class="row bg-light">{{characteristics.body}}</div>
    </div>
    <div class="col">
      <div class="row bg-info"></div>
      <div class="row bg-light">{{characteristics.emp}}</div>
    </div>
  </div>
  <div class="row bg-transparent">
    <div class="col"></div>
    <div class="col">{{characteristics.run}}</div>
    <div class="col"></div>
    <div class="col">{{characteristics.leap}}</div>
    <div class="col"></div>
    <div class="col">{{characteristics.carry}}</div>
    <div class="col"></div>
    <div class="col">{{characteristics.humanity}}</div>
  </div>
  <div class="row bg-transparent">
    <div class="col"></div>
    <div class="col">{{characteristics.btm}}</div>
  </div>

  <div class="btn btn-outline-primary" (click)="onGenerate()">a</div>
</div>
