<div class="container skills text-center">
  <div class="bg-success text-white">{{localization.getHeader()}}</div>
  <table class="table table-borderless">
    <tbody class="bg-light">
      <tr>
        <td class="bg-info text-white">{{localization.getInt()}}</td>
        <td>{{characteristics.int}}</td>
        <td class="bg-info text-white">{{localization.getMa()}}</td>
        <td>{{characteristics.ma}}</td>
        <td class="bg-info text-white">{{localization.getRun()}}</td>
        <td>{{characteristics.run}}</td>
      </tr>
      <tr>
        <td class="bg-info text-white">{{localization.getTech()}}</td>
        <td>{{characteristics.tech}}</td>
        <td></td>
        <td></td>
        <td class="bg-info text-white">{{localization.getLeap()}}</td>
        <td>{{characteristics.leap}}</td>
      </tr>
      <tr>
        <td class="bg-info text-white">{{localization.getCool()}}</td>
        <td>{{characteristics.cool}}</td>
        <td class="bg-info text-white">{{localization.getEmp()}}</td>
        <td>{{characteristics.emp}}</td>
        <td class="bg-info text-white">{{localization.getHumanity()}}</td>
        <td>{{characteristics.humanity}}</td>
      </tr>
      <tr>
        <td class="bg-info text-white">{{localization.getRef()}}</td>
        <td>{{characteristics.ref}}</td>
        <td class="bg-info text-white">{{localization.getBody()}}</td>
        <td>{{characteristics.body}}</td>
        <td class="bg-info text-white">{{localization.getBtm()}}</td>
        <td>{{characteristics.btm}}</td>
      </tr>
      <tr>
        <td class="bg-info text-white">{{localization.getAttr()}}</td>
        <td>{{characteristics.attr}}</td>
        <td></td>
        <td></td>
        <td class="bg-info text-white">{{localization.getCarry()}}</td>
        <td>{{characteristics.carry}}</td>
      </tr>
      <tr>
        <td class="bg-info text-white">{{localization.getLuck()}}</td>
        <td>{{characteristics.luck}}</td>
        <td></td>
        <td></td>
        <td class="bg-info text-white">{{localization.getLift()}}</td>
        <td>{{characteristics.lift}}</td>
      </tr>
    </tbody>
  </table>
  <div class="btn btn-outline-primary" (click)="onGenerate()">
    {{localization.getGenerate()}}
  </div>
</div>
