<nav>
  <div class="row bg-primary text-white">
    <div class="col">
      <a routerLink="/character"
        class="btn btn-success">{{ navLocal.getCharacter() }}</a>
    </div>
    <div class="col">
      <a routerLink="/in-progress"
         class="btn btn-success">{{ navLocal.getImplants() }}</a>
    </div>
    <div class="col">
      <a routerLink="/in-progress"
         class="btn btn-success">{{ navLocal.getWeapon() }}</a>
    </div>
    <div class="col">
      <a routerLink="/in-progress"
         class="btn btn-success">{{ navLocal.getNpc() }}</a>
    </div>
    <div class="col">
      <div class="text-right">
        <select (change)="setLocalization($event.target.value)">
          <option [ngValue]="getEnglishLang()">{{getEnglishLang()}}</option>
          <option [ngValue]="getRuLang()">{{getRuLang()}}</option>
        </select>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
