<span *ngIf="languageChanged() then updateLocalization()"></span>
<div class="card-header h2">
  {{localization.getHeader()}}
</div>
<div class="options ">
  <span *ngIf="onShowOptions(); then showOptions else hideOptions"></span>
  <ng-template #showOptions>
    <ul>
      <!-- options here -->
      <div class="text-right">
        <button (click)="changeOptionsState()" class="btn-primary">
          {{localization.getHideOptions()}}
        </button>
      </div>
    </ul>
  </ng-template>
  <ng-template #hideOptions>
    <div class="text-center h3">
      <button (click)="changeOptionsState()" class="btn btn-primary">
        {{localization.getShowOptions()}}</button>
    </div>
  </ng-template>
</div>
