import { LifeEventsOptions } from '../life.events.options';
import { LifeEvent } from './life.event';

import { Dice } from '../../../../service/dices/dice';
import { DiceD6 } from '../../../../service/dices/dice.d6';
import { DiceD10 } from '../../../../service/dices/dice.d10';
import { ProblemsWinsGenerate } from './generation/problems.wins.generate';
import { FriendsEnemiesGenerate } from './generation/friends.enemies.generate';
import { RomanticGenerate } from './generation/romantic.generate';
import { NothingGenerate } from './generation/nothing.generate';

export class LifeEventsService {
  private d6: Dice;
  private d10: Dice;
  private problemsWins: ProblemsWinsGenerate;
  private friendsEnemies: FriendsEnemiesGenerate;
  private romantic: RomanticGenerate;
  private nothing: NothingGenerate

  constructor() {
    this.d6 = new DiceD6();
    this.d10 = new DiceD10();
  }

  generateEvents(options: LifeEventsOptions): Array<LifeEvent> {
    if (options.randomAge) {
      options.age = this.generateAge();
    }
    let rollsLeft = options.age - 16;
    let roll;
    let events = new Array<LifeEvent>();
    while (rollsLeft > 0) {
      roll = this.d10.roll();
      switch (roll) {
        case 1:
        case 2:
          events.push(this.problemsWins.generateProblemsWinsEvent(options.age));
          --rollsLeft;
          break;
        case 3:
        case 4:
        case 5:
        case 6:
          events.push(this.friendsEnemies.generateFriendsEnemies(options.age));
          --rollsLeft;
          break;
        case 7:
        case 8:
          events.push(this.romantic.generateRomantic(options.age));
          --rollsLeft;
          break;
        case 9:
        case 10:
          if (options.nothingHappenedEvents) {
            events.push(this.nothing.generateRomantic(options.age));
            --rollsLeft;
          }
          break;
      }
    }
    return events;
  }

  private generateAge() {
    return 16 + this.d6.roll() + this.d6.roll();
  }
}
