@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");
@import "background.css";

:root {
  --yellow-color: #F3C53E;  /*fcb354*/
  --orange-color: #E54900;
  --red-color: #fc0537;
  --neon-light-color: #CF33D9;
  --neon-color: #E00BC8;
  --purple-color: #961861;
  --dark-neon-color: #601A9E;
  --black-color: #050A0E;
  --blue-color: #1ACDD2;
  --blue-metal-color: #5084D8;
  --dark-blue-color: #3208E8;

  --white-color: #FAFAFA;
  --gray-color: #CDCDCD;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

select, button {
  outline: none;
}

.text {
  font-family: Tomorrow, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: .95rem;
}

.btn {
  width: 230px;
  height: 60px;
  border: 2px solid var(--white-color);
  outline: none;
  background-color: var(--black-color);
  cursor: pointer;
  position: relative;
  color: var(--black-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 10% 100%, 0% 75%, 0 0);
}

.btn__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: var(--yellow-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__select {
  align-items: center;
  justify-content: end;
  color: var(--white-color);
  background-color: var(--red-color);
}

.btn__glitch {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--yellow-color);
}

.btn--secondary .btn__glitch {
  background-color: var(--red-color);
}

.neon__shadow {
  color: var(--yellow-color);
  text-shadow: 0 0 5px var(--neon-color),
               0 0 10px var(--neon-color),
               0 0 20px var(--neon-color),
               0 0 40px var(--neon-color),
               0 0 80px var(--neon-color),
               0 0 90px var(--neon-color),
               0 0 100px var(--neon-color),
               0 0 120px var(--neon-color);
}

.animated__neon__shadow {
  animation: neon-shadow 5s steps(1, start) infinite reverse;
}

@keyframes neon-shadow {
  0% {
    color: var(--blue-color);
    text-shadow: 0 0 5px var(--neon-color),
                 0 0 10px var(--neon-color),
                 0 0 20px var(--neon-color),
                 0 0 40px var(--neon-color),
                 0 0 80px var(--neon-color),
                 0 0 90px var(--neon-color),
                 0 0 100px var(--neon-color),
                 0 0 120px var(--neon-color);
  }

  80% {
    color: var(--yellow-color);
    text-shadow: 0 0 5px var(--red-color),
                 0 0 10px var(--red-color),
                 0 0 20px var(--red-color),
                 0 0 40px var(--red-color),
                 0 0 80px var(--red-color),
                 0 0 90px var(--red-color),
                 0 0 100px var(--red-color),
                 0 0 120px var(--red-color);
  }

  81% {
    color: var(--yellow-color);
    text-shadow: 0 0 5px var(--red-color),
                 0 0 10px var(--red-color),
                 0 0 20px var(--red-color),
                 0 0 40px var(--red-color),
                 0 0 80px var(--red-color),
                 0 0 90px var(--red-color),
                 0 0 100px var(--red-color),
                 0 0 120px var(--red-color);
  }

  82% {
    color: var(--blue-color);
    text-shadow: 0 0 5px var(--neon-color),
                 0 0 10px var(--neon-color),
                 0 0 20px var(--neon-color),
                 0 0 40px var(--neon-color),
                 0 0 80px var(--neon-color),
                 0 0 90px var(--neon-color),
                 0 0 100px var(--neon-color),
                 0 0 120px var(--neon-color);
  }

  83% {
    color: var(--yellow-color);
    text-shadow: 0 0 5px var(--red-color),
                 0 0 10px var(--red-color),
                 0 0 20px var(--red-color),
                 0 0 40px var(--red-color),
                 0 0 80px var(--red-color),
                 0 0 90px var(--red-color),
                 0 0 100px var(--red-color),
                 0 0 120px var(--red-color);
  }

  84% {
    color: var(--blue-color);
    text-shadow: 0 0 5px var(--neon-color),
                 0 0 10px var(--neon-color),
                 0 0 20px var(--neon-color),
                 0 0 40px var(--neon-color),
                 0 0 80px var(--neon-color),
                 0 0 90px var(--neon-color),
                 0 0 100px var(--neon-color),
                 0 0 120px var(--neon-color);
  }

  85% {
    color: var(--yellow-color);
    text-shadow: 0 0 5px var(--red-color),
                 0 0 10px var(--red-color),
                 0 0 20px var(--red-color),
                 0 0 40px var(--red-color),
                 0 0 80px var(--red-color),
                 0 0 90px var(--red-color),
                 0 0 100px var(--red-color),
                 0 0 120px var(--red-color);
  }

  100% {
    color: var(--blue-color);
    text-shadow: 0 0 5px var(--neon-color),
                 0 0 10px var(--neon-color),
                 0 0 20px var(--neon-color),
                 0 0 40px var(--neon-color),
                 0 0 80px var(--neon-color),
                 0 0 90px var(--neon-color),
                 0 0 100px var(--neon-color),
                 0 0 120px var(--neon-color);
  }
}
